<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Book Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a style="cursor: pointer;" class="nav-link" (click)="onOpenModal(null, 'add')" >Add Book <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" #key="ngModel" ngModel (ngModelChange)="searchBooks(key.value)" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search books..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let book of books" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{book?.imageUrl}}" alt="" class="img-fluid square w-80"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{book?.name}}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Author : {{book?.author}}</li>
                    <li class="list-group-item">Publication : {{book?.publication}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(book,'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(book,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal -->
<div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel"  aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
          <div class="form-group">
             <label for="name">Book Name</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name of the book" required>
          </div>
          <div class="form-group">
             <label for="author">Author</label>
             <input type="text" ngModel name="author" class="form-control" id="author" placeholder="Author Name" required>
          </div>
          <div class="form-group">
             <label for="phone">Publication</label>
             <input type="text" ngModel name="publication" class="form-control" id="publication" placeholder="Publication" required>
          </div>
          <div class="form-group">
             <label for="phone">Image URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-book-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateBookModal" tabindex="-1" aria-labelledby="updateBookModalLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateBookModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
             <label for="name">Book Name</label>
             <input type="text" ngModel="{{editBook?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editBook?.id}}" name="id" class="form-control" id="id" placeholder="id">
          <div class="form-group">
             <label for="author">Author</label>
             <input type="text" ngModel="{{editBook?.author}}" name="author" class="form-control" id="author" placeholder="Author">
          </div>
          <div class="form-group">
             <label for="phone">Publication</label>
             <input type="text" ngModel="{{editBook?.publication}}" name="publication" class="form-control" id="publication" name="publication" placeholder="Publication">
          </div>
          <div class="form-group">
             <label for="phone">Image URL</label>
             <input type="text" ngModel="{{editBook?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
          </div>
          <div class="modal-footer">
             <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
             <button (click)="onUpdateBook(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteBookModalLabel">Delete Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="close-modal" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Book {{deleteBook?.name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button (click)="onDeleteBook(deleteBook?.id)" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Notification for no books -->
<div *ngIf="books?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO BOOKS!</h4>
    <p>No Books were found.</p>
  </div>
  </div>